body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 30em;
	margin: auto;
}

.feeling {
	background-color: #ffbe0b;
	padding: 1em;
	border-radius: 1em;
	border: 1px solid;
	margin-bottom: 2em;
}

.emotion {
	width : 3m;
	display: inline-block;
	padding: 1em;
	background-color: #3a86ff;
	border-radius: 1em;
}

.selected {
	background-color: #8338ec
}


.emotion:hover {
	background-color: #8338ec;
}

.faded {
	opacity: 0.3;
}
