body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	width: 100%;
}

.feeling {
	background-color: #ffbe0b;
	padding: 1em;
	border-radius: 1em;
	border: 1px solid;
	margin-bottom: 2em;
	
}

.emotions {
	
}

.emotion {
	width : 3m;
	display: inline-block;
	padding: 1em;
	background-color: #3a86ff;
	border-radius: 1em;
	margin : auto;
}

.selected {
	background-color: #8338ec
}


.emotion:hover {
	background-color: #8338ec;
}

.faded {
	opacity: 0.3;
}

.share {
	margin-top: 1em;
	padding: 1em;
	background-color: #8338ec;
	border-radius: 0.5em;
	color: white;
	border: 0em solid;
	font-size: 1.5em;
	width: 100%
}


@media (min-width: 769px) {
	.container {
		width: 50%;
	}
}